body{
    overflow-x: hidden;
}
#bg{
    background-image: url("./imgs/bg.png");
    width: 1200px;
    height: 800px;
    background-size: cover;
    margin: auto;
    margin-top: 95px;
    position: relative;
    overflow: hidden;
}
.hero{
    background-image: url("./imgs/hero.png");
    width: 47px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    background-size: 388%;
    background-position: 1px 0px;
}
.enemy{
    background-image: url("./imgs/enemy.png");
    width: 45px;
    height: 50px;
    position: absolute;
    top: -50px;
    background-position: 0px 1px;
}